<div class="container">
  <div class="row">
    <div class="col">
      <h1>User List</h1>
    </div>
    <div class="col text-end">
      <button class="btn btn-primary" (click)="addUser"><fa-icon [icon]="faAdd"></fa-icon> Add</button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <!--<th scope="col">Guid</th>-->
        <!--<th scope="col">TypeId</th>-->
        <th scope="col">Type</th>
        <th scope="col">Active</th>
        <!--<th scope="col">Deleted</th>-->
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">Region</th>
        <th scope="col">PostalCode</th>
        <th scope="col">Country</th>
        <th scope="col">URL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{ user.id }}</th>
        <td><a [routerLink]="['', 'user', user.id]">{{ user.lastName }}, {{ user.firstName }} {{ user.middleName }}</a></td>
        <td><a href="mailto:{{ user.emailAddress }}">{{ user.emailAddress }}</a></td>
        <!--<td>{{ user.guid }}</td>-->
        <!--<td>{{ user.typeId }}</td>-->
        <td>{{ user.type }}</td>
        <td>{{ user.isActive }}</td>
        <!--<td>{{ user.isDeleted }}</td>-->
        <td>{{ user.address }}</td>
        <td>{{ user.city }}</td>
        <td>{{ user.region }}</td>
        <td>{{ user.postalCode }}</td>
        <td>{{ user.country }}</td>
        <td><a href="tel:{{ user.phoneNumber }}" target="_blank">{{ user.phoneNumber }}</a></td>
      </tr>
    </tbody>
  </table>
</div>
