.search-box {
  margin: 0 auto;
  width: 100%;
  border-radius: 0 !important;
}

  .search-box input {
      padding: 0;
      padding-left: 8px;
      border-radius: 0 !important;
  }

  .search-box button {
    padding: 0 8px;
    border-radius: 0 !important;
  }

.table {
  margin: 0 auto;
}

  .table th, .table td {
    text-align: left;
  }

  .table th {
    background-color: #f8f9fa;
    font-weight: bold;
  }

  .table tbody tr:hover {
    background-color: #e9ecef;
  }

.table-bordered {
  border: 1px solid #dee2e6;
}

  .table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6;
  }
